body {
  font-size: 12px;
  padding: var(--space-bg);
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: var(--space-bg);
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

h1.display-1 {}

h2.display-2 {}

h3.display-3 {}

a {
  font-weight: var(--weight-bold);
  color: var(--color-white);
}

span {
  font-weight: var(--weight-normal);
  font-size: 12px;
  line-height: 1.2rem;
}

p {}